<header>

    Sensen Jutsu
    
</header>

<main>

    <section>

        <h1>{{ welcome }}</h1>

        <h1>{{ counter }}</h1>
        
        <div contenteditable="{{ editable }}" >Editable : {{ editable ? 'oui' : 'non' }}</div>

        <p>

            <h1>Chimie Object</h1>
            <div>{%=JSON.stringify(chime)%}</div>
        </p>
        
        
        <p>

            <h1>Person Array</h1>
            <div>{%=persons%}</div>
            
        </p>
        
    </section>
    




    <section>


        <form action="" @submit.prevent="this.methods.addPerson" :style="{display: editable ? null : 'none' , opacity: editable}" >
                
            >{{ fullname.trim() ? fullname.trim() : 'No name entry' }}<

            <br>
            
            <input autocomplete="Off" type="text" name="fullname" @input="this.methods.updateFullname" placeholder="Nom et Prenom"> 

            <button type="submit">Enregistrer</button>

            <br>
            <h1 title="{{ this.props.title }}">Mirror</h1>
            <input type="text" disabled :value="message" placeholder="Message">


            
            <ul sn-each="persons as person">

                <!-- {% persons.forEach((person)=>{ %} -->

                <li>{%=person %}</li>
                
                <!-- {% }) %} -->
                
            </ul>
            
        </form>
        
        
    </section>
    

    <section>

        <button @click="this.methods.increment">Go to Coming Soon</button>

        <button @click="testFunction">Test Function</button>

    </section>
    
    
</main>